$burger-line-height: 3px;

.burger-btn {
  @extend %inline-block-middle;

  cursor: pointer;
  appearance: none;
  background: none;
  padding: 12px 0;
  z-index: 2;
  border: none;
  outline: none;

  &:focus &__line,
  &:hover &__line {
    background-color: $colors-primary-light;
  }

  &--dark &__line {
    background-color: $colors-primary;
  }

  &__box {
    @extend %inline-block-middle;

    position: relative;
    z-index: 2;
    width: 28px;
    height: 20px;
  }

  &__line {
    position: absolute;
    left: 0;
    right: 0;
    height: $burger-line-height;
    // border-radius: $burger-line-height;
    background-color: #fff;
    transform-origin: 50%;
    // box-shadow: 0 0 0 rgba($colors-accent, .5);
    transition: width 0.24s ease, opacity 0.24s, transform 0.48s $wind-easing,
      background-color 0.32s;

    &:nth-child(1) {
      width: 80%;
      top: 0;
    }

    &:nth-child(2) {
      width: 100%;
      top: 50%;
      margin-top: -($burger-line-height / 2);
    }

    &:nth-child(3) {
      width: 80%;
      bottom: 0;
    }
  }

  &.active &__line {
    width: 100%;
  }

  &.active &__line:nth-child(1) {
    transform: rotate(45deg);
    margin-top: -$burger-line-height;
    top: 50%;
  }

  &.active &__line:nth-child(2) {
    transform: scaleX(0);
    opacity: 0;
  }

  &.active &__line:nth-child(3) {
    transform: rotate(-45deg);
    bottom: 50%;
  }
}

/* BURGER CONTENT */
.burger-content {
  @extend %fill-fixed;

  z-index: 999;
  background-color: $colors-black;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.36s ease, opacity 0.36s ease;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  &__wrapper {
    @screen lg {
      padding-top: 50px;
    }
  }

  &-menu {
    padding-top: 1rem;
    padding-bottom: 1rem;

    &:not(:first-child) {
      border-top: 1px solid lighten($colors-gray-darkest, 10%);
    }

    a {
      text-decoration: none;
    }

    &__phone {
      @extend %font-size-3;

      display: block;
      font-weight: bold;
      color: #fff;
      margin: 1rem 0;

      &:hover {
        color: $colors-gray;
      }
    }

    &__email {
      display: block;
      font-size: 1rem;
      font-weight: 600;
      color: $colors-gray;
      margin: 1rem 0;
      max-width: 300px;

      &:hover {
        color: #fff;
      }
    }

    &__address {
      display: block;
      font-size: 1rem;
      color: #bbb;
      margin: 1rem 0;
      max-width: 300px;
    }

    ul {
      display: block;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: block;
        margin: 0.25rem 0;
        padding: 0;

        a {
          display: block;
          padding-left: 0;
          padding-top: 0.75rem;
          padding-bottom: 0.75rem;
          font-size: 1.25rem;
          color: $colors-gray;
          transition: 0.24s;

          &:hover {
            padding-left: 0.5rem;
            color: #fff;
          }
        }
      }
    }
  }
}

/* wp specific styles */
.admin-bar .burger-content {
  margin-top: 32px;
}

@media screen and (max-width: 782px) {
  .admin-bar .burger-content {
    margin-top: 46px;
  }
}
