$burger-line-height: 2px;
$burger-line-color: $colors-primary-500;

.burger-btn-box {
  @extend %inline-block-middle;

  position: relative;
  width: 17px;
  height: 12px;
  transform: rotate(0);
  transition: transform 0.2s $snappy-easing;

  .active > & {
    transform: rotate(45deg);
  }

  .active > & > &__line {
    &:nth-child(1),
    &:nth-child(3) {
      transform: scaleX(0);
    }

    &:nth-child(4) {
      transform: rotate(-90deg) scaleX(1);
    }
  }

  &__line {
    position: absolute;
    left: 0;
    height: $burger-line-height;
    background-color: $burger-line-color;
    transition: background-color 0.2s ease, transform 0.2s $snappy-easing;

    &:nth-child(1) {
      top: 0;
      width: 100%;
      transform-origin: 100% 50%;
    }

    &:nth-child(2),
    &:nth-child(4) {
      top: 50%;
      margin-top: -$burger-line-height / 2;
      width: 100%;
      transform-origin: 50% 50%;
    }

    &:nth-child(3) {
      bottom: 0;
      width: 75%;
      transform-origin: 0% 50%;
    }

    &:nth-child(4) {
      transform: rotate(-90deg) scaleX(0);
    }
  }
}

/* BURGER CONTENT */
.burger-content {
  @extend %fill-fixed;

  z-index: 999;
  background-color: $colors-dark;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.36s ease, opacity 0.36s ease;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  &.active &-menu {
    transform: translateY(0);
    opacity: 1;
  }

  &__wrapper {
    @screen lg {
      padding-top: 50px;
    }
  }

  &-menu {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    transform: translateY(8px);
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        transition-delay: #{$i * 0.1}s;
      }
    }

    &:not(:first-child) {
      border-top: 1px solid rgba(#fff, 0.075);
    }

    a {
      text-decoration: none;
    }

    &__phone {
      @apply text-2xl;

      display: block;
      font-weight: 600;
      color: #fff;
      margin: 0 0 0.5rem 0;
      transition: color 0.2s;

      &:hover {
        color: $colors-gray-300;
      }
    }

    &__email {
      display: block;
      font-size: 1rem;
      font-weight: 500;
      color: $colors-gray-500;
      margin: 0.5rem 0;
      max-width: 300px;
      transition: color 0.2s;

      &:hover {
        color: #fff;
      }
    }

    &__address {
      display: block;
      font-size: 1rem;
      color: #bbb;
      margin: 1rem 0;
      max-width: 300px;
    }

    ul {
      display: block;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: block;
        margin: 0 0 0.15rem 0;
        padding: 0;

        a {
          display: block;
          padding-left: 0;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          color: $colors-gray-500;
          transition: 0.2s;

          &:hover {
            padding-left: 0.5rem;
            color: #fff;
          }
        }
      }
    }
  }
}

/* wp specific styles */
.admin-bar .burger-content {
  margin-top: 32px;
}

@media screen and (max-width: 782px) {
  .admin-bar .burger-content {
    margin-top: 46px;
  }
}
