$loading-bg-color: rgba(0, 0, 0, 0.65);

.loading {
  @extend %fill-absolute;
  z-index: 5;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.48s ease, visibility 0.48s ease;

  $loading-circle-size: 50px;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -$loading-circle-size / 2;
    margin-top: -$loading-circle-size / 2;
    width: $loading-circle-size;
    height: $loading-circle-size;
    border-radius: 50%;
  }

  &::before {
    z-index: 0;
    border: 2px solid rgba(255, 255, 255, 0.1);
  }

  &::after {
    z-index: 1;
    border-top: 2px solid rgba(255, 255, 255, 1);
    animation: rotate360 0.64s linear infinite;
  }

  &--hidden {
    opacity: 0;
    visibility: hidden;
  }

  &--dark-bg {
    background-color: rgba($color-dark, 0.75);
  }

  &--fixed {
    position: fixed;
    z-index: 10000 !important;
    background-color: rgba($color-dark, 0.75);
  }
}

.loading__container {
  @extend %fill-absolute;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $loading-bg-color;

  &::after {
    content: "Если этот загрузочный экран не исчезает, возможно у вас отключен JavaScript. Попробуйте включить его в настройках браузера.";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding: 20px;
    color: #fff;
    z-index: 1;
    background-color: $loading-bg-color;
    opacity: 0;
    animation: fadeIn 0.32s ease 1 5s both;
  }
}
