.primary-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-width: 320px;
  z-index: 1000;
  transform: translateZ(0);
  will-change: transform;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(#000, 0.15);

  &-top {
    @apply text-sm bg-dim;

    &__container {
      height: $primary-header-top-height;

      @screen lg {
        height: $primary-header-top-height-lg;
      }
    }

    &__link {
      @apply text-sm text-gray-800;

      transition: color 0.2s;

      &:hover {
        @apply text-secondary-500;
      }
    }

    &__nav {
      ul {
        @apply flex flex-wrap items-center justify-start my-0 -mx-4 p-0;

        list-style: none;

        li {
          @apply px-1 m-0;

          a {
            @apply relative inline-block p-3 font-500 text-gray-900;

            white-space: nowrap;
            font-weight: bold;
            letter-spacing: 0.065em;
            transition: color 0.2s;

            &::after {
              content: "";
              display: block;
              position: absolute;
              top: 8px;
              right: 4px;
              background-color: $colors-secondary-500;
              border-radius: 4px;
              width: 4px;
              height: 4px;
              transform: scale(0);
              transition: transform 0.2s;
            }

            &:hover {
              color: $colors-secondary-500;

              &::after {
                transform: scale(1);
              }
            }
          }
        }
      }
    }
  }

  &-bottom {
    // border-bottom: 1px solid $colors-gray-100;

    &__container {
      height: $primary-header-bottom-height;

      @screen lg {
        height: $primary-header-bottom-height-lg;
      }
    }
  }

  &-logo {
    @extend %inline-block-middle;

    color: $colors-gray-800;
    text-transform: uppercase;
    text-decoration: none;

    &__image {
      display: block;
      width: 170px;
      height: auto;
      opacity: 1 !important;

      @screen lg {
        width: 235px;
      }
    }
  }
}

.primary-header-padding-offset {
  padding-top: $primary-header-height;

  @screen lg {
    padding-top: $primary-header-height-lg;
  }
}

.primary-header-margin-offset {
  margin-top: $primary-header-height;

  @screen lg {
    margin-top: $primary-header-height-lg;
  }
}

/* wp specific styles */
#wpadminbar {
  position: fixed !important;
  transform: translateZ(0);
}

.admin-bar .primary-header {
  margin-top: 32px;
}

@media screen and (max-width: 782px) {
  .admin-bar .primary-header {
    margin-top: 46px;
  }
}
