.primary-radio-button {
  cursor: pointer;

  @apply inline-block align-middle rounded-full overflow-hidden;

  &__input {
    @extend %hidden-input;
  }

  &__input:checked ~ &__button {
    @apply text-white bg-primary-600 border-primary-600;
  }

  // &.active &__button {
  //   @apply text-white bg-primary-700;
  // }

  &__button {
    @apply block px-3 py-1 rounded-full text-sm;

    border: 1px solid $colors-gray-400;
    transition: color 0.2s ease, background-color 0.2s ease,
      border-color 0.2s ease;

    @screen sm {
      @apply text-base;
    }

    &:hover {
      @apply text-primary-600 border-primary-600;
    }
  }
}
