$primary-header-height: 70px;
$primary-header-height-lg: 90px;

.primary-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-width: 320px;
  z-index: 1000;
  transform: translateZ(0);
  will-change: transform;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(#988c74, 0.2);
  transition: box-shadow 0.24s ease;

  &--shadowed {
    box-shadow: $primary-shadow;
  }

  &__container {
    height: $primary-header-height;

    @screen lg {
      height: $primary-header-height-lg;
    }
  }

  &-logo {
    @extend %inline-block-middle;

    color: $colors-gray-darkest;
    text-transform: uppercase;
    text-decoration: none;

    &__image {
      display: block;
      width: 60px;
      height: auto;

      @screen lg {
        width: 90px;
      }
    }
  }

  &__nav {
    overflow: hidden;
    text-align: center;
    padding: 20px 15px;
    border-left: 1px solid $colors-gray-lighter;
    border-right: 1px solid $colors-gray-lighter;

    ul {
      position: relative;
      display: block;
      list-style: none;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      margin-right: -20px;

      @screen xl {
        margin-right: -30px;
      }

      li {
        @extend %inline-block-middle;

        margin-right: 20px;

        @screen xl {
          margin-right: 30px;
        }

        a {
          text-decoration: none;
          color: lighten($colors-gray-darkest, 30%);

          &:hover {
            color: $colors-primary;
          }
        }
      }
    }
  }

  &__burger-btn {
    @extend %inline-block-middle;

    margin-right: 10px;

    @screen lg {
      margin-right: 20px;
    }
  }
}

.primary-header-padding-offset {
  padding-top: $primary-header-height;

  @screen lg {
    padding-top: $primary-header-height-lg;
  }
}

.primary-header-margin-offset {
  margin-top: $primary-header-height;

  @screen lg {
    margin-top: $primary-header-height-lg;
  }
}

/* wp specific styles */
#wpadminbar {
  position: fixed !important;
  transform: translateZ(0);
}

.admin-bar .primary-header {
  margin-top: 32px;
}

@media screen and (max-width: 782px) {
  .admin-bar .primary-header {
    margin-top: 46px;
  }
}
