.pswp {
  &__bg {
    background: rgba(#000, 0.75);
  }

  &__button {
    &--close {
      background-color: $colors-primary-400;

      &:hover {
        background-color: $colors-primary-300;
      }
    }

    &--arrow--left,
    &--arrow--right {
      &::before {
        background-color: $colors-gray-900;
      }
    }
  }
}
