html,
body {
  @apply font-sans text-black;

  font-size: 14px;
  color: $colors-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mb-4 font-sans text-gray-900 font-700;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

h4 {
  @apply text-base;
}

h5 {
  @apply text-sm;
}

h6 {
  @apply text-xs;
}

a {
  @apply cursor-pointer text-primary-500;
}

abbr[title] {
  /* 1 */
  text-decoration: underline;

  /* 2 */
  -webkit-text-decoration-style: dotted;
}

b,
strong {
  @apply font-700;
}

i,
em {
  @apply italic;
}

/*
 * Insert
 */

ins {
  @apply bg-primary-100 text-black;
}

/*
* Mark
*/

mark {
  @apply bg-primary-200 text-black;
}

/*
* Quote
*/

q {
  @apply italic;
}

/*
 * Add the correct font size in all browsers.
 */

small {
  @apply text-sm;
}

/*
  * Prevents `sub` and `sup` affecting `line-height` in all browsers.
  */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
 ========================================================================== */

/*
 * Remove the gap between embedded content and the bottom of their containers.
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * 1. Add responsiveness.
 * 2. Auto-scale the height. Only needed if `height` attribute is present.
 * 3. Corrects responsive `max-width` behavior if padding and border are used.
 * 4. Exclude SVGs for IE11 because they don't preserve their aspect ratio.
 */

canvas,
img,
video {
  /* 1 */
  max-width: 100%;

  /* 2 */
  height: auto;

  /* 3 */
  box-sizing: border-box;
}

/* 4 */
@supports (display: block) {
  svg {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
  }
}

/*
  * Hide the overflow in IE.
  */

svg:not(:root) {
  overflow: hidden;
}

/*
  * Hide `alt` text for lazy load images
  * Selector for background while loading img[data-src*='.jpg'][src*='data:image'] { background: grey; }
  */

img:not([src]) {
  visibility: hidden;
}

/*
  * Iframe
  * Remove border in all browsers
  */

iframe {
  border: 0;
}

p,
ul,
ol,
dl,
pre,
address,
fieldset,
figure {
  margin: 0 0 1rem 0;
}

/* Add margin if adjacent element */
* + p,
* + ul,
* + ol,
* + dl,
* + pre,
* + address,
* + fieldset,
* + figure {
  margin-top: 1rem;
}

/* Lists
 ========================================================================== */

ul,
ol {
  padding-left: 1.5rem;
}

/*
  * Reset margin for nested lists
  */

ul > li > ul,
ul > li > ol,
ol > li > ol,
ol > li > ul {
  margin: 0;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

ul ul,
ol ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
}

ol ol,
ul ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 15px;
}

/* Tables
  ========================================================================== */

table {
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
  margin-bottom: 1rem;
}

* + table {
  margin-top: 1rem;
}

th {
  text-align: left;
  font-weight: bold;
}

th,
td {
  padding: 0.5rem 1.25rem;
  line-height: inherit;
}

th {
  vertical-align: bottom;
}

td {
  vertical-align: top;
}

/* Description lists
  ========================================================================== */

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Horizontal rules
  ========================================================================== */

/*
  * 1. Add the correct box sizing and height in Firefox.
  * 2. Show the overflow in Edge and IE.
  * 3. Add the correct text-align in Edge and IE.
  * 4. Style
  */

hr,
.uk-hr {
  /* 1 */
  box-sizing: content-box;
  height: 0;

  /* 2 */
  overflow: visible;

  /* 3 */
  text-align: inherit;

  /* 4 */
  margin: 0 0 1.5rem 0;
  border: 0;
  border-top: 1px solid $colors-gray-300;
}

/* Add margin if adjacent element */
* + hr,
* + .uk-hr {
  margin-top: 1.5rem;
}

/* Address
  ========================================================================== */

address {
  font-style: normal;
}

/* Blockquotes
  ========================================================================== */

blockquote {
  margin: 0 0 1rem 0;
  font-size: 1rem;
  line-height: 1.5;
  font-style: italic;

  @if (mixin-exists(hook-base-blockquote)) {
    @include hook-base-blockquote();
  }
}

/* Add margin if adjacent element */
* + blockquote {
  margin-top: 1rem;
}

/*
  * Content
  */

blockquote p:last-of-type {
  margin-bottom: 0;
}

blockquote footer {
  margin-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.25;
}

/* Preformatted text
 ========================================================================== */

/*
 * 1. Contain overflow in all browsers.
 */

pre {
  color: $colors-gray-900;
  -moz-tab-size: 4;
  tab-size: 4;

  /* 1 */
  overflow: auto;
}

/* HTML5 elements
 ========================================================================== */

/*
 * 1. Add the correct display in Edge, IE 10+, and Firefox.
 * 2. Add the correct display in IE.
 */

details,
main {
  /* 2 */
  display: block;
}

/*
  * Add the correct display in all browsers.
  */

summary {
  display: list-item;
}

/*
  * Add the correct display in IE.
  */

template {
  display: none;
}
