@import "tailwind-configs";

// easings
$ease-out-cubic: cubic-bezier(0.2, 0.5, 0.3, 1);
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$wind-easing: cubic-bezier(0.11, 0.815, 0.195, 0.95);

// shadows
$primary-shadow--hidden: 0 0 0 rgba(#988c74, 0.24);
$primary-shadow: 0 4px 30px rgba(#988c74, 0.24);

// fonts
$primary-font: "Roboto", "system-ui", "BlinkMacSystemFont", "-apple-system",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  "sans-serif";

// library variables
$diamodal-base-font-size: 16px;
$diamodal-base-font-family: $primary-font;
$diamodal-color-dark: $colors-gray-darkest;
$diamodal-color-gray--light: $colors-gray-lighter;
$diamodal-color-primary: $colors-primary;
$diamodal-color-primary--dark: $colors-primary-dark;

$diacart-base-font: 16px;
$diacart-numbers-font: $primary-font;
$diacart-buttons-font: $primary-font;
$diacart-color-primary: $colors-primary;
$diacart-color-primary--dark: $colors-primary-dark;
$diacart-color-primary--light: $colors-primary-light;
$diacart-color-accent: $colors-primary-dark;
$diacart-color-dark: $colors-gray-darkest;
$diacart-color-gray--light: $colors-gray-lighter;
$diacart-color-gray--dark: $colors-gray-darker;
$diacart-color-error: $colors-secondary;
$diacart-color-error--dark: $colors-secondary-dark;
